<center><form action="greeted" method="Post" >
<input type="text" id ="textbox" placeholder="Type in..." name="textbox"></input><br><br>
<input type="radio" name="language" value="English">English</input>
<input type="radio" name="language" value="Afrikaans">Afrikaans</input>
<input type="radio" name="language" value="isiXhosa"></input>isiXhosa<br><br>
<input type="submit" id ="button" value="Greet me" name="button"></input><br><br>
<div name="display">{{textVal}}</div>
<form></center>
